
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <div style="text-align: center;">
        <h1>About Page</h1>
        <h2>Lakshya was a project me and my team of batchmates made for our 3rd Semester Mini Project</h2>
        <h2>Lakshya offers curated video based learning material from all over the Internet to its users</h2>
        <h2>With Lakshya we aimed to eliminate the confusion due to the overwhelming amount of choices present to the user.</h2>
        <button style="background:url(https://github.com/mayur-argade/Lakshya/raw/readme/src/images/Lakshya.jpg); background-size: cover; width:837px; height: 435px;" disabled></button>
    </div>
    {% endblock %}

</body>
</html>